<!DOCTYPE html>
<html ng-app="fluro">
    <head>
        <meta charset="utf-8">

        <title ng-bind="$root.seo.headTitle"></title>
        <meta name="description" content="{{ $root.seo.getDescription() | plaintext }}">
        <meta name="fragment" content="!">

        <!-- Facebook -->
        <meta property="fb:app_id"          content="387340101438406" />
        <meta property="og:site_name"       content="{{$root.applicationData.publicData.siteName}}"/>
        <meta property="og:title"           content="{{ $root.seo.headTitle }}" ng-if="$root.seo.headTitle.length"/>
        <meta property="og:description"     content="{{ $root.seo.getDescription() | plaintext }}"/>
        <meta property="og:type"            content="website" />
        <meta property="og:url"             content="{{ $root.seo.fullURL }}" ng-if="$root.seo.fullURL"/>
        <meta property="og:image"           content="{{ $root.seo.getImageURL() }}" ng-if="$root.seo.getImageURL()"/>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <!-- fluro:mobilewebapplication -->

        <!-- fluro:devstart -->
        <!--//////////////////////////////////////////-->

        <!-- Add your testing application details here -->
        <!-- <meta property="fluro_url" content="https://api.staging.fluro.io"> -->
        <meta property="fluro_url" content="http://api.fluro.localhost:3000">
        <meta property="app_dev_url" content="https://forms.staging.fluro.io">
        <!-- <meta property="fluro_application_key" content="APPLICATION_KEY"> -->
        
        <!--//////////////////////////////////////////-->
        <!-- fluro:devend -->


        <!--//////////////////////////////////////////-->
        <!-- fluro:config -->



        <!--//////////////////////////////////////////-->
        <!-- build:css /css/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- fluro:beforecss -->
        <!-- build:css /css/style.min.css -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- endbuild -->
        <!-- fluro:aftercss -->

    



        <!--//////////////////////////////////////////-->
        <!-- fluro:googleanalytics -->
        <!-- fluro:headerinject -->


        <base href="/">
    </head>
    <body ng-cloak>


        <share-modal></share-modal>

        <fluro-preloader></fluro-preloader>
        <div class="main-view" ui-view></div>



        <!-- build:js /js/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-touch/angular-touch.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/ngstorage/ngStorage.js"></script>
        <script src="/bower_components/fluro.config/dist/fluro.config.js"></script>
        <script src="/bower_components/fluro.util/dist/fluro.util.js"></script>
        <script src="/bower_components/lodash/lodash.js"></script>
        <script src="/bower_components/fluro.content/dist/fluro.content.js"></script>
        <script src="/bower_components/fluro.asset/dist/fluro.asset.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/fluro.access/dist/fluro.access.js"></script>
        <script src="/bower_components/SHA-1/sha1.js"></script>
        <script src="/bower_components/angulartics/src/angulartics.js"></script>
        <script src="/bower_components/angulartics-google-analytics/lib/angulartics-ga.js"></script>
        <script src="/bower_components/validator-js/validator.js"></script>
        <script src="/bower_components/fluro.validate/dist/fluro.validate.js"></script>
        <script src="/bower_components/fluro-interactions/dist/fluro.interactions.js"></script>
        <script src="/bower_components/signature_pad/signature_pad.js"></script>
        <script src="/bower_components/angular-signature/src/signature.js"></script>
        <script src="/bower_components/nodep-date-input-polyfill/nodep-date-input-polyfill.dist.js"></script>
        <script src="/bower_components/api-check/dist/api-check.js"></script>
        <script src="/bower_components/angular-formly/dist/formly.js"></script>
        <script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- fluro:appdata -->
        <!-- fluro:googleMaps -->
        <!-- <script src="https://js.stripe.com/v2/"></script> -->
        <!-- <script src="https://tithelydev.com/api-js/v1/tithely.js"></script> -->
        <!-- <script src="https://tithe.ly/api-js/v1/tithely.js"></script> -->
        

        <!-- build:js /js/app.js -->
        <script src="/js/app.js"></script>
        <script src="/js/templates.js"></script>
        <!-- endbuild -->



        <!-- fluro:devstart -->
        <!--//////////////////////////////////////////-->
        <!-- LOCAL CODE ONLY-->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDY6QNvOwG0GUbZGJtZmLT5JjTf5bzmI6c"></script>
        <script src="http://localhost:9002/livereload.js"></script>
        <script src="https://forms.staging.fluro.io/appdata.js" type="text/javascript"></script>
        <!--//////////////////////////////////////////-->
        <!-- fluro:devend -->



        <!-- fluro:footerinject -->
    </body>
</html>
